@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;500&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Barlow Condensed";
    color: aliceblue;
    text-shadow: 1.5px 1px 1px black;
}

html {
    display: flex;
    scroll-behavior: smooth;
    background-image: url(/src/page-background.jpg);
    background-size: cover;
}

header {
    background-image: url(/src/background-design.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
}

main {
    display: flex;
    justify-content: center;
}

footer {
    display: flex;
    justify-content: center;
    background-color: rgba(31, 97, 141, 0.5);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

a:hover {
    transition: 0.5s;
    color: rgb(31, 97, 141);
}

.form-element {
    padding: 0 5px;
    margin: 2.5px 0;
    font-size: small;
    text-shadow: none;
}

#somos-exagono {
    display: flex;
    font-size: 48px;
    justify-content: center;
    align-items: center;
}

#main-menu {
    display: flex;
    justify-content: center;
    width: 100%;
}

#main-menu ul {
    margin: 1px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.menu-opt {
    display: block;
    background-color: rgb(31, 97, 141);
    padding: 3px 5px;
    border: solid black 2px;
    margin: 0 5%;
    width: 100%;
    height: 100%;
    text-align: center;
    color: aliceblue;
    cursor: pointer;
    border-radius: 15px;
}

.menu-opt:hover {
    transition: 1s;
    background-color: aliceblue;
    color: rgb(31, 97, 141);
}

#main-menu input {
    display: none;
}

#label-menu li {
    display: flex;
    align-items: center;
    margin-left: 2%;
    font-size: 120%;
    width: 20%;
    height: 100%;
}

#web-icon {
    width: 15%;
}

.media-icon {
    margin-left: 10px;
    width: 30px;
    align-self: center;
}

#principal {
    display: flex;
    justify-content: center;
    width: 70%;
    height: max-content;
}

/* ///////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////// */
/* INICIO */
/* ///////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////// */

#inicio {
    display: flex;
    justify-content: center;
    height: 100%;
    box-sizing: content-box;
}

.ppal-column {
    display: flex;
    width: 30%;
    margin: 10px;
    flex-direction: column;
}

.ppal-box {
    margin-top: 3%;
    padding: 0;
    border: solid black 4px;
    border-radius: 10px;
}

#horario-box {
    height: 32%;
}

#horario-box a img {
    width: 100%;
    height: 100%;
}

#drive-cuadrado {
    display: none;
}

#info-box {
    height: 65%;
    overflow: hidden;
}

.slides {
    display: flex;
    width: 400%;
    height: 100%;
}

.slides input {
    display: none;
}

.slide {
    transition: 2s;
    width: 25%;
}

.slides a img {
    width: 100%;
    height: 100%;
}

.navigation-manual {
    width: 20%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-self: flex-end;
}

.manual-btn {
    border: 2px solid black;
    background: white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
    margin-bottom: 5px;
}

.manual-btn:not(:first-child) {
    margin-left: 4%;
}

.manual-btn:hover {
    background: rgba(31, 97, 141, 0.5);
}

#radio1:checked ~ #first {
    margin-left: 0%;
}

#radio2:checked ~ #first {
    margin-left: -25%;
}

#radio3:checked ~ #first {
    margin-left: -50%;
}

#radio4:checked ~ #first {
    margin-left: -75%;
}

.navigation-auto {
    width: 20%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-self: flex-end;
}

.navigation-auto div {
    border: 2px solid rgb(0, 0, 0);
    background: white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
    margin-bottom: 5px;
}

.navigation-auto div:not(:first-child) {
    margin-left: 4%;
}

#radio1:checked ~ .navigation-auto #auto-btn1 {
    background: black;
}

#radio2:checked ~ .navigation-auto #auto-btn2 {
    background: black;
}

#radio3:checked ~ .navigation-auto #auto-btn3 {
    background: black;
}

#radio4:checked ~ .navigation-auto #auto-btn4 {
    background: black;
}

#plugin {
    display: flex;
    justify-content: center;
    height: 70%;
    border-radius: 10px;
    overflow: hidden;
}

#principal-comment-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 27%;
}

#principal-comment-box form {
    width: 95%;
    margin: 5px;
    display: flex;
    flex-direction: column;
}

#drive-box {
    justify-content: center;
    height: 27%;
}

#drive-box a {
    width: 100%;
}

#drives-link {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

#calendar {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

#calendar-box{
    height: 70%;
}

#footer-icons {
    display: flex;
    align-items: center;
}

#footer-icons .icon {
    width: 50px;
    margin: 10px;
    justify-self: center;
}

#footer-info {
    display: flex;
    flex-direction: column;
    align-self: center;
    color: white;
    font-size: smaller;
}

/* ///////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////// */
/* COMISION DIRECTIVA */
/* ///////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////// */

#comision-info {
    display: none;
    flex-direction: column;
    height: 100%;
    width: 80%;
    align-items: center;
}

#comision-info {
    text-align: center;
}

#members-list {
    margin-top: 10px;
    list-style-type: none;
    display: inherit;
    flex-direction: inherit;
}

.photo {
    width: 100%;
    margin: 0 15px;
    border: 1.5px solid black;
    border-radius: 10px;
}

.members-card {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 5px;
    align-self: center;
    width: 70%;
    margin: 15px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 10px;
    background: rgb(31, 97, 141);
}

.member-content {
    display: inherit;
    grid-template-rows: auto 1fr;
    text-align: center;
    gap: inherit;
}

.member {
    display: inherit;
    grid-template-columns: 1fr 2fr;
    gap: inherit;
}

.member-info {
    display: flex;
    flex-flow: column nowrap;
    align-content: space-between;
    margin: 0 20px;
    font-size: 25px;
    border: solid black 1px;
    border-radius: 10px;
    padding: 10px;
}

.text-carrera {
    font-size: 10px;
}

#estatuto-link {
    display: flex;
    width: 50%;
    margin: 10px;
    font-size: larger;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(31, 97, 141);
}

#estatuto-link:hover {
    background-color: aliceblue;
    transition: 1s;
}

#estatuto-link img {
    width: 20%;
}

/* ///////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////// */
/* SERVICIOS */
/* ///////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////// */

#servicios {
    display: none;
    justify-content: center;
    box-sizing: content-box;
}

#services-box {
    height: 98.5%;
    overflow: hidden;
    padding: 10px;
    background-color: rgba(31, 97, 141, 0.5);
}

#services-box p {
    margin: 10px;
    font-size: large;
}

#services-box ul {
    list-style-type: none;
    font-size: large;
    text-align: left;
    padding: 0 15px;
}

.cece-photo {
    width: 100%;
    height: 32%;
}

/* ///////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////// */
/* RESPONSIVE DESIGN */
/* ///////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////// */

@media screen and (max-width: 800px) {
    body {
        width: 100vw;
    }

    header {
        align-items: center;
    }

    #web-icon {
        width: 25%;
    }

    #somos-exagono {
        font-size: 24px;
        width: 100%;
    }

    #main-menu ul {
        width: 100%;
    }

    .menu-opt {
        display: flex;
        font-size: 100%;
        justify-content: center;
        align-items: center;
    }

    #redes-sociales {
        display: none !important;
    }

    section {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    #principal {
        width: 90%;
    }
    .ppal-column {
        width: 85%;
        margin: 10px;
    }

    #left-column {
        flex-flow: wrap row;
        order: 1;
    }

    #right-column {
        order: 2;
    }

    #services-column {
        order: -1;
        text-align: center;
    }

    #horario-box {
        width: 49%;
    }

    #drive-cuadrado {
        margin-left: 2%;
        display: flex;
        width: 49%;
    }

    #info-box {
        height: 60vh;
    }
    
    #drive-box {
        display: none !important;
    }

    #plugin {
        height: 59vh;
        width: 100%;
    }

    .fb-page {
        width: 100%;
        height: 100%;
    }

    #calendar {
        height: 60vh;
    }

    .member-info {
        font-size: medium;
    }
}
